<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<div class="login">
  <h2 class="active"> sign in </h2>
   <form>
   <input type="text" class="text" name="email"[(ngModel)]="email" >
     <span>EMAIL</span>
     <br>
     <br>
     <input type="password" class="text" name="password"[(ngModel)]="password"  >
    <span>PASSWORD</span>
    <br>
    <input type="checkbox" id="checkbox-1-1" class="custom-checkbox" />
    <label for="checkbox-1-1">Keep me Signed in</label>
    
    <button class="signin" (click)="loginClick()">
      Sign In
    </button>
<hr>
 
  </form>

</div>