<!DOCTYPE html>
 <html lang="em">
   <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width,initial-scame=1.0">
    
      
   </head>
   <body>
     <div class="main">
       <div class="wrapper">
         <div class="header">
           <nav>
             <div class="logo">
            
             </div>
             <ul>
               <li> <a [routerLink]="['/home']">HOME</a></li>
               <li> <a [routerLink]="['/menupage']">MENU</a></li>
               <li> <a [routerLink]="['/order']">ORDERS</a></li>
               <li> <a [routerLink]="['/addnewdish']">ADD NEW DISH</a></li>
            
               
                
             </ul>
           </nav>
           <div class="overlay">
           <div class="content">
             <h1>WELCOME TO ROYAL CULTURE</h1>
             <p>A restaurant (sometimes known as a diner) is
                a place where cooked food is sold to the public,
                 and where people sit down to eat it. It is also 
                 a place where people go to enjoy the time and to eat a meal.
                  Some restaurants are a chain, meaning that there are restaurants
                   which have the same name and serve the same food.</p>
                   </div>
           </div>
         </div>
       </div>
     </div>
   </body>
 </html>